<?xml version="1.0"?>

<robot name="newbot2" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:include filename="$(find newbot2)/urdf/newbot2.gazebo" />
  <xacro:include filename="$(find newbot2)/urdf/newbot2.urdf" />

  <!--   three driving type front, rear, four(todo) -->
  <xacro:arg name="driving_type" default="front"/>
  <xacro:include filename="$(find newbot2)/urdf/driving_transmission/$(arg driving_type)_driving_transmission.urdf" />
</robot>
